<section class="welcome dark">
  <div class="block-heading">
    <h2>2019 Megaband T-shirts</h2>
  </div>
  <div class="row">
    <div class="col-md-12 welcome">

      <p class="card">
        Short sleeve shirts are $20.<br>
        Long sleeve shirts are $30.<br>
        Order deadline is March 7.<br>
        Shirts available by online order only.<br>
        All shirts must be picked up at the dance.<br>
        There will not be additional shirts for sale at the dance.
      </p>

      <figure id="design">
        <img src="/images/tshirt_design_2019.jpg" width="300"></img>
        <figcaption>2019 T-shirt Design</figcaption>
      </figure>

      <div class="card">
        <figure id="swatches">
          <p><strong>Available in these 4 colors only</strong></p>
          <img src="/images/tshirt_colors_2019.jpg" width="800"></img>
          <figcaption>black / red / brown / gray</figcaption>
        </figure>
      </div>

      <div class="card">
        <p>
          <strong>Available in these 4 styles</strong><br>
          (Only available in black, red, brown, and gray.)
        </p>
        <p>&ldquo;Women's Short Sleeve Fine Jersey Tee&rdquo; [$20] <a href="https://www.royalapparel.net/5001w-women-s-short-sleeve-fine-jersey-tee.html" target=_blank>(view style guide in new tab)</a></p>
        <p>&ldquo;Unisex Short Sleeve Fine Jersey Tee&rdquo; [$20] <a href="https://www.royalapparel.net/unisex-short-sleeve-fine-jersey-tee-5051.html" target=_blank>(view style guide in new tab)</a></p>
        <p>&ldquo;Women's Long Sleeve Crew Tee&rdquo; [$30] <a href="https://www.royalapparel.net/l-s-crew-tee-10476.html" target=_blank>(view style guide in new tab)</a></p>
        <p>&ldquo;Unisex Long Sleeve Tee&rdquo; [$30] <a href="https://www.royalapparel.net/l-s-crew-tee.html" target=_blank>(view style guide in new tab)</a></p>
      </div>

      <h2 class="alert alert-warning">Please return to the order form to place your order.</h2>
    </div>
  </div>
</section>
