<section class="welcome dark">
  <div class="block-heading">
    <h2>megaband t-shirts info</h2>
    <h2 class="alert alert-danger">Info not yet updated for 2019</h2>
  </div>
  <div class="row">
    <div class="col-md-12 welcome">

      <p class="card">
        Short sleeve shirts are $20.<br>
        Long sleeve shirts are $30.<br>
        Order deadline is February 14.<br>
        Shirts available by online order only.<br>
        All shirts must be picked up at the dance.<br>
        There will not be additional shirts for sale at the dance.
      </p>

      <figure id="design">
        <img src="/images/megaband_shirt_2018.jpg" width="300"></img>
        <figcaption>Megaband 2018 T-shirt Design</figcaption>
      </figure>

      <div class="card" id="swatches">
        <p>
          Colors for style <em>Bayside 5100</em> (&ldquo;unisex t-shirt&rdquo;) - $20<br>
          (<strong><a href="/images/Bayside5100.pdf" target=_blank>style guide & size chart</a></strong>)
        </p>
        <div class="row">
          <figure class="swatch">
            <img src="/images/charcoal_sample.jpg">
            <figcaption>charcoal</figcaption>
          </figure>
          <figure class="swatch">
            <img src="/images/gold_sample.jpg">
            <figcaption>gold</figcaption>
          </figure>
          <figure class="swatch">
            <img src="/images/carolina_blue_sample.jpg">
            <figcaption>carolina blue</figcaption>
          </figure>
          <figure class="swatch">
            <img src="/images/lime_green_sample.jpg">
            <figcaption>lime green</figcaption>
          </figure>
        </div>
        <hr>
        <p>
          Colors for style <em>Bayside 3325</em> (&ldquo;women's t-shirt&rdquo;) - $20<br>
          <span id="size-warning">Sizes reportedly run small.</span><br>
          (<strong><a href="/images/Bayside3325.pdf" target=_blank>style guide & size chart</a></strong>)
        </p>
        <div class="row">
          <figure class="swatch">
            <img src="/images/purple_sample.jpg">
            <figcaption>purple</figcaption>
          </figure>
          <figure class="swatch">
            <img src="/images/teal_sample.jpg">
            <figcaption>teal</figcaption>
          </figure>
          <figure class="swatch">
            <img src="/images/carolina_blue_sample.jpg">
            <figcaption>carolina blue</figcaption>
          </figure>
          <figure class="swatch">
            <img src="/images/lime_green_sample.jpg">
            <figcaption>lime green</figcaption>
          </figure>
        </div>
        <hr>
        <p>
          Colors for style <em>Bayside 6100</em> (&ldquo;unisex long sleeve&rdquo;) - $30<br>
          (<strong><a href="/images/Bayside6100.pdf" target=_blank>style guide & size chart</a></strong>)
        </p>
        <div class="row">
          <figure class="swatch">
            <img src="/images/sand_sample.jpg">
            <figcaption>sand</figcaption>
          </figure>
          <figure class="swatch">
            <img src="/images/charcoal_sample.jpg">
            <figcaption>charcoal</figcaption>
          </figure>
          <figure class="swatch">
            <img src="/images/lime_green_sample.jpg">
            <figcaption>lime green</figcaption>
          </figure>
        </div>
      </div>

      <h2 class="alert alert-warning">Please return to the order form to place your order.</h2>
    </div>
  </div>
</section>
