<section class="welcome dark">
  <div class="block-heading">
    <h2>2019 Megaband</h2>
  </div>
  <div class="row">
    <div class="col-md-12 welcome">

      <p class="card">
        Online sales are closed. Tickets will be available at the door, cash only.<br>
        <br>
        Saturday, March 9, 2019<br>
        7:30 lesson | 8-11:15 dance<br>
        PSU Smith Memorial Center Ballroom, 3rd Floor<br>
        1825 SW Broadway, Portland, Oregon<br>
        <br>
        Paid parking is available in the parking structure across Broadway from the building.<br>
        <br>
        <a href="http://www.cascadepromenade.org/dance/2019/01/06/Cascade-Promenade-2019.html">Check out other Cascade Promenade dances!</a><br>
    </div>
  </div>
</section>
