<section class="welcome dark">
  <div class="block-heading">
    <h2>2020 Megaband</h2>
  </div>
  <div class="row">
    <div class="col-md-12 welcome">

      <p class="card">
        2020 Megaband has been cancelled.<br>
        If you wish to donate to help cover our costs, see more info at <a href="http://portlandmegaband.com">portlandmegaband.com</a>.
    </div>
  </div>
</section>
