<section class="welcome dark">
  <div class="block-heading">
    <h2>Portland Megaband</h2>
    <h2 class="alert alert-danger">Info not yet updated for 2019</h2>
  </div>
  <div class="row">
    <div class="col-md-12 welcome">
      <p>Thanks for your interest in the Portland Megaband Contra Dance. This is a benefit dance with the goal of raising money for the community grants fund. This year we are trying a sliding scale for the admission price: $10 - $25. If $10 is what you can afford, great, welcome. But if life has been good to you and you can do a bit more, we hope you will pitch in some extra for the good of the cause.</p>

      <p>PCDC is a 501(c)(3) non-profit corporation. Any amount above $10 is a tax deductible donation. Let us know at the door if you would like a receipt.</p>

      <hr>

      <p>Event Details:</p>

      <p>Saturday, March...  |  8:00 - 11:15 pm</p>

      <p>
        This Year's Location:<br>
        PSU...
      </p>

      <p>
        This event is suitable for singles, couples, first-timers, and experienced dancers.<br>
        It is not appropriate for small children unless they are on the sidelines supervised by adults at all times.<br>
        It is fine for older children and teenagers who are comfortable interacting with adults on their own.
      </p>

      <p>We strive to have an inclusive and safe environment for all people, regardless of race, religion, age, sexual orientation, gender identity and expression. We welcome new dancers.</p>

      <p>Any questions:  email <a href="mailto:contra@portlandcountrydance.org">contra@portlandcountrydance.org</a></p>

      <p class="continue text-center alert alert-danger">This site requires JavaScript. I recommend downloading the <a href="https://www.google.com/chrome/" target=_blank>Google Chrome</a> or <a href="https://www.mozilla.org/en-US/firefox/" target=_blank>Mozilla Firefox</a> browser.</p>
      <p id="not-yet-ready" class="text-center alert alert-danger">Ticket sales for 2019 are not yet ready.</p>
      <%= link_to 'Continue...', new_order_path, class: 'btn btn-dark continue d-none' %>
    </div>
  </div>
</section>
