var pricePerAdmission = <%= Rails.configuration.order[:admission_cost] %>;
if (pricePerAdmission === 0) {
  var sliding_scale = true;
  var sliding_scale_min = <%= Rails.configuration.order[:sliding_scale_min] %>;
  var sliding_scale_max = <%= Rails.configuration.order[:sliding_scale_max] %>;
}

$(function() {
  if(sliding_scale) {
    $('#admission-cost').bind('change click', function() {
      normalizeInput($(this));
      var pricePer = parseInt($(this).val());
      if (isNaN(pricePer) || pricePer > sliding_scale_max) {
        $(this).val(sliding_scale_max);
      } else if (pricePer < sliding_scale_min) {
        $(this).val(sliding_scale_min);
      }
      updateTotal();
    });
  }

  $('#admission-quantity').bind('change click', function() {
    normalizeInput($(this));
    var quantity = parseInt($(this).val());
    if (isNaN(quantity) || quantity < 1) {
      $(this).val("1");
    } else if (quantity > 9) {
      $(this).val("9");
    }
    updateTotal();
  });

  $('#admission-quantity').bind('keyup change click', function() {
    var quantity = parseInt($(this).val());
     if (!isNaN(quantity) && quantity > 1) {
      $('#note').show();
    } else {
      $('#note').hide();
    }
  });
});

var normalizeInput = function(selector) {
  selector.val(selector.val().split('.')[0]);
}

var updateTotal = function() {
  var pricePerAdmission = sliding_scale ? parseInt($('#admission-cost').val()) : pricePerAdmission;
  var quantityAdmission = parseInt($('#admission-quantity').val());
  var total = pricePerAdmission * quantityAdmission;
  $('#total-price').text(total);
  $('#total-as-displayed').val(total);
  if (quantityAdmission > 0) {
    $('#total-admissions').text("Admissions: " + quantityAdmission + " at $" + pricePerAdmission + " each");
  } else {
    $('#total-admissions').text("");
  }
}

var selectOptions = function(selectElement, optionsList) {
  selectElement.children('option:not(:first)').remove();
  optionsList.forEach(function(option) {
    selectElement.append("<option value='" + option + "'>" + option + "</option>");
  });
}

window.onload=window.onpageshow= function() {
  updateTotal();
};
