body {
  background-color: #f6f6f6;
}

.welcome, .thanks {
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;

  .block-heading {
    padding-top: 50px;
    margin-bottom: 40px;
    text-align: center;
  }

  .btn {
    margin-top: 20px;
    margin-bottom: 40px;
  }
}

.thanks {
  margin-bottom: 40px;
}

@media (min-width: 576px) {
  body {
    background-color: #fff;
  }

  .welcome, .thanks {
    max-width: 85%;
  }
}
